<!DOCTYPE html>
<html ng-app="myApp" ng-cloak>
<head>
    <title></title>
    <!-- used for responsive design. So that the site looks the same for all screens: -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/mycss.css">
    <script src="libs/bootstrap+jquery.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular/angular-route.min.js"></script>
    <script src="libs/angular/angular-animate.min.js"></script>
    <script src="app.min.js"></script>
</head>
<body>

<div ng-view></div>

</body>
</html>